main {
  padding-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 6%;
  justify-items: center;
  align-items: center;
}

main > a {
  height: 110%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px;
}

main > a > img {
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

main > a > h2 {
  color: cadetblue;
  font-weight: 400;
  cursor: pointer;
  padding-top: 20px;
}

main > a > h1 {
  padding-top: 10px;
  font-size: 30px;
}

.selected {
  position: relative;
  color: white;
  display: grid;
  grid-template: 10% 1fr 10% / 10% 1fr 10%;
}

.item-info {
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: 2 / 2 / 3 / 3;
}

.item-info > img {
  width: 45%;
  height: 70%;
}

.item-info > p {
  width: 45%;
}

.btns-buy {
  justify-self: center;
  align-self:center;
  height: 40px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  grid-area: 3 / 2 / 4 / 3;
}

.btns-buy * {
  cursor: pointer;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  font-family: monospace;
  font-weight: 700;
  width: 150px;
  height: 50px;
  border: 3px solid black;
  background-color: var(--beautiful-blue-color);
  transition: 0.6s ease;
}

.btns-buy > .add-to-cart {
  border-bottom-right-radius: 0px!important;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.add-to-cart:hover {
  transition: 0.6s ease;
  transform: translateX(20px);
}

.add-and-pay:hover {
  transition: 0.6s ease;
  transform: translateX(-20px);
}
