* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray-color: #DDDBDE;
  --light-steel-color: #CAD4DF;
  --dark-gray-color: #656E77;
  --dark-steel-color: #3b3b3b;
  --beautiful-blue-color: #6696cf;
}


html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

nav {
  height: 50px;
  width: 100%;
  font-family: monospace;
  align-items: center;
  font-size: 20px;
  background-color: var(--dark-steel-color);
  color: var(--beautiful-blue-color);
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  width: 100%;
  height: 100%;
  background-color: var(--light-steel-color);
}